
h4{
    font-family:"Champagne & Limousines", sans-serif;
    font-size:3em;
}

body{
    background: url('../img/mod4b.jpg') no-repeat center fixed;
    background-size: cover;
}

h1{
    font-weight: 300;
    text-align: center;
}

.navbar-default {
    background-color: #fff;
    border-color: rgba(0,0,0,0);
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(0,0,0) !important;
    background-image: none;
    color: rgb(0, 0, 0);
}

.panel-default{
    border-color:#e6c6ab;
}

.panel-default>.panel-heading{
    border-color: white;
}

.form-control {
    border-color:#e6c6ab ;
}

.btn-primary{
    background-color:#e6c6ab;
    border-color:#e6c6ab ;
}

.btn-link{
    color: black;
}

.btn-success {
    color: #fff;
    background-color: #ffab7a;
    border-color: #ffffff;
}

.btn-success:hover {
    color: #fff!important;
    background-color: #ff9b62 !important;
    border-color: #ffffff !important;
}

.list-group-item-success {
    color: #fff;
    background-color: #ffab7a;
    border-color: #ffffff;
}

.list-group-item {
    text-align: center;
}

.panel-default{
    margin-top: 16%;
}